.top-section {
  background-image: Url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/043/388/original/netbiz.image.jpeg?1660298691");
}

h1 {
  color: #fff;
  font-family: "Concert One", cursive;
}
