:root {
  --main-font: "Be Vietnam Pro", sans-serif;
}

body {
  width: 1100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 10px;
}

.main-section {
  width: 100%;
  background-image: url("src/pexels-photo-931018.jpeg");
  background-repeat: no-repeat;
  height: 600px;
  background-image: cover;
  background-position: center;
}

.logo {
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 12px;
  display: inline;
  margin-right: auto;
  margin-left: 30px;
  font-weight: 900px;
}

li {
  display: inline;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 15px;
  display: inline-block;
  align-items: center;
  padding: 0px 20px;
  list-style: none;
  margin-left: 35px;
}

#navbar-button {
  background-color: #000;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px 20px;
  border-radius: 30px;
  border-color: #000;
  text-decoration: none;
  font-size: 15px;
  margin-right: 20px;
}

#title {
  margin-left: 100px;
  font-size: 35px;
  font-weight: 900px;
  width: 50%;
  margin-top: 150px;
  text-shadow: 1px 0px #a0a0a0;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
}

.started {
  margin-top: 10px;
  margin-left: 100px;
  background-color: #000;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px 20px;
  border-radius: 30px;
  border-color: #000;
  text-decoration: none;
  font-size: 18px;
}
.wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: left;
}

.center {
  text-align: left;
}

.center,
.left,
.right {
  font-family: var(--main-font);
  padding-bottom: 10px;
  font-size: 15px;
}

input {
  border: none;
  border-bottom: #000 0.8px solid;
}

.circle-button {
  background-color: #000;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 70%;
  width: 100px;
  height: 100px;
  border-color: #000;
  text-decoration: none;
  font-size: 12px;
}
