.top-section {
  width: 100%;
  background-image: url("src/netbiz.image.jpg");
  background-size: 100%;
  height: 700px;
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
}

li {
  display: inline;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-family: "Be Vietnam Pro", sans-serif;
  display: inline;
}

.main-navbar {
  float: left;
}

.navbar-button {
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px 20px;
  border-radius: 30px;
  border-color: #000;
  text-decoration: none;
}
